/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.logo img{
    width: 500px;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: red;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover, form .btn-enviar input:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgba(255, 0, 0, 0.825);
}

h2.titulo{
    color: white;
    font-size: 38px;
    text-align: center;
    font-weight: 700;
}

h2.titulo span{
    color: red;
}
/* ESTILO CABEÇALHO */
header{
    padding: 40px 4%;

}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(110, 110, 110);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: white;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}



.logo img{
    width: 200px;
}

/* ESTILO DO MENU MOBILE */
.btn-abrir-menu img{
    width: 100px;
}


.menu-mobile{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 40%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding:20px 8%;
    display: block;

}

.overlay-menu{
    background-color: #000000a3;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.menu-mobile nav ul li a:hover{
    background-color: red;
}

.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar img{
    width: 100px;
    
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    padding: 80px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.topo-do-site .txt-topo-site h1{
    color: white;
    font-size: 42px;
    line-height: 40px;
    
}

.topo-do-site .txt-topo-site h1 span{
    color: rgb(255, 0, 0);
    font-size: 41px;
    
}

.topo-do-site .txt-topo-site p{
    color: white;
    margin: 40px 0;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 20px;
    }
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    width: 400px;
    
}

/* ESTILO DAS ESPECIALIDADES */

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.521);
    
}

.especialidades img{
    width: 70px;
    color: rgb(255, 0, 0);

}

.especialidades .interface h2{
    font-weight: 700;

}

.especialidades .especialidades-box h3{
    font-size: 28px;
    font-weight: 700;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */
section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: white;
    
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    margin-top: 30px;
}

.sobre .txt-sobre h2 span{
    color: red;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .img-sobre img{
    width: 400px;
    border-radius: 20px;
}

.btn-social img{
    width: 40px;
    background-color: red;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
    margin: 10px 5px;
    transition: .2s;
}

/* ESTILO DO MEU PORTFÓLIO */
section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.151);
}

section.portfolio .flex{
    padding: 40px;
    justify-content: space-around;
}

.img-port{
    width: 360px;
    height: 460px;
    background-color: red;
    background-size: cover;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

section.portfolio .interface h2{
    font-weight: 700
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 100%;
}


/* ESTILO FORMULARIO DE CONTATO */
section.formulario{
    padding: 80px 4%;

}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: rgb(39, 39, 39);
    border: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}

form #texto{
    resize: none;
    max-height: 200px;
    height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: red;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;

}

form .btn-enviar input{
    width: 120px;
    height: 30px;
    text-align: center;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    transition: .2s;
    font-weight: 600;
}

/* ESTILO RODAPE */

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.151);
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid red;
}

footer .line-footer p img{
    width: 30px;
}

footer .line-footer p a{
    color: white;
}

/* RESPONSIVE */

@media screen and (max-width: 1190px){
    /* CLASSES GERAIS */
    .flex{
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }


    /* CABEÇALHO */
    .menu-desktop{
        display: none;
    }
    .btn-contato{
        display: none;
    }
    .menu-mobile.abrir-menu{
        width: 70%;
    }
    

    /* TOPO DO SITE */
    section.topo-do-site .flex{
        gap: 40px;
    }

    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site h1{
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img{
        width: 100%;
    }

    /* ESTILO DAS ESPECIALIDADES */
    section.especialidades{
        padding: 40px 8%;
    }

    h2.titulo{
        line-height: 35px;
        font-size: 30px;
    }

    /* SOBRE */
    section.sobre{
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .sobre .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
        padding: 20px;
    }

    /* PORTFOLIO */
    section.portfolio{
        padding: 80px 8%;
    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex{
        gap: 60px;
    }

    /* RODAPE */
    footer .flex{
        flex-direction: column;
        gap: 40px;
    }

    footer .line-footer{
        text-align: center;
    }
}
